<div class="page-header">
  <h3>
    <a ng-show="poll.link" href="{{poll.link}}">
      {{poll.title}}
    </a>
    <span ng-hide="poll.link">
      {{poll.title}}
    </span>
  </h3>
</div>

<div ng-repeat="comment in poll.choices">
  
  {{comment.votes}} {{choice.choiceText}}

<form ng-submit="incrementVotes()" style="margin-top:30px;">
  

  <div class="form-group">
    <input type="radio" value="{{choice.choiceText}}" ng-model="choice.Votes">
  </div>
  <button type="submit" class="btn btn-primary">Vote</button>
</form>
