.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  height: 45px;
  /* Make the masthead heading the same height as the navigation */
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #4393B9;
  color: #ffffff;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 6px 24px;
}
.jumbotron #signJumbo {
  width: 220px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  text-align: center;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing > .fa {
  font-size: 70px;
}
.fa-bolt {
  color: #FAEA73;
}
.fa-globe {
  color: #5CB85C;
}
fa-facebook {
  color: #4393B9;
}

/* Form - Groups */
.form-horizontal h1,
.form-horizontal p,
.form-horizontal .control-label {
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background-color: #4393B9;
    width: 100%;
  }
}
